.maps__holder {
    
    
}


.profile__holder {
    height: 25%;
    margin-top: -5%;
   
}

.options__holder {
    height: 25%;

    display: flex;
    flex-direction: column;
}

.directions__holder {
    flex: 1;
    height: 50%;
    
    align-items: flex-start;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

.maps__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.info__holder {
    
    display: flex;
    flex-direction: column;
    width: 30vw;
    
}



.maps__infoWindow {
    background-color: red;
}

.places__marker {
    stroke: white;
}

.pac_container, .pac-item {
    color: white;
    background-color: var(--color-footer) !important;
    border: 1px solid transparent;
}

.pac-cion {
    background: var(--color-text);
}

.pac-item-query {
    color: var(--color-text)
}
.pac-item:hover {
    background-color: var(--color-bg)
}
.pac-matched {
    color: #ff4820;
}
.pac-logo {
    background-color: var(--color-footer);
    
    
}

.pac-logo::after {
    background-image: url('../../assets/logo-blue.svg');
    
}

.pac-logo a {
    color: transparent;
}

#addWayPointButton {
  background-color: #7b0992; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  /* text-decoration: none;
  display: inline-block; */
  font-size: 16px;
  border-radius: 10px;
  margin-top: 10px;
}