.selectric__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw !important;
    padding: 2rem 6rem;
    
}

.selectric__navbar-links {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectric__navbar-links_logo {
    margin-right: 2rem
}

.selectric__navbar-links_logo img {
    width: 100px;
    height: 20px;
}

.selectric__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.selectric__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    align-items: flex-end;
}

.selectric__navbar-links_container p,
.selectric__navbar-sign p,
.selectric__navbar-menu_container p {
    color: white;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.selectric__mobile-menu {
    
    height: 50px;
}

.selectric__mobile-menu button{
    margin-top: -45px;
    background: #ff4820;
   
}

#mobilemenu-actions button {
    margin: 15px;
    transform: scale(1.5);
    z-index: 20;
}


@media only screen and (min-width: 800px) {
    .selectric__mobile-menu{
        display: none !important;
    }
    
    
}

@media only screen and (max-width: 800px) {
    .selectric__navbar-links_container p{
        display: none!important;
    }
}

@media only screen and (max-width: 600px) {
    .selectric__navbar {
        padding : 1rem;
        margin: 0rem 1rem;
    }
}